name: CI Preview
on: 
  pull_request:
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/quantecon/quantecon-build:latest
    
    permissions:
      contents: read
      packages: read
      pull-requests: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Restore Build Cache
        id: cache
        uses: quantecon/actions/restore-jupyter-cache@v0
        with:
          cache-type: 'build'
          source-dir: 'lectures'
          save-cache: 'true'
      
      - name: Build PDF
        uses: quantecon/actions/build-lectures@v0.5.0
        with:
          source-dir: 'lectures'
          builder: 'pdflatex'
          upload-failure-reports: true
      
      - name: Build Notebooks
        uses: quantecon/actions/build-lectures@v0.5.0
        with:
          source-dir: 'lectures'
          builder: 'jupyter'
          upload-failure-reports: true
      
      - name: Build HTML
        id: build
        uses: quantecon/actions/build-lectures@v0
        with:
          source-dir: 'lectures'
          builder: 'html'
          html-copy-pdf: true
          html-copy-notebooks: true
          upload-failure-reports: true
      
      - name: Deploy to Netlify
        uses: quantecon/actions/preview-netlify@v0
        with:
          build-dir: ${{ steps.build.outputs.build-path }}
          netlify-auth-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}
