name: CI Preview
on: 
  pull_request:
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/quantecon/quantecon:latest
    
    permissions:
      contents: read
      packages: read
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Restore Build Cache
        id: cache
        uses: quantecon/actions/restore-jupyter-cache@v0
        with:
          cache-type: 'build'
          source-dir: 'lectures'
      
      - name: Build HTML
        id: build
        uses: quantecon/actions/build-lectures@v0
        with:
          source-dir: 'lectures'
          builder: 'html'
          upload-failure-reports: true
      
      - name: Deploy to Netlify
        uses: quantecon/actions/preview-netlify@v0
        with:
          build-dir: ${{ steps.build.outputs.build-path }}
          netlify-auth-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}
