name: Build HTML [using jupyter-book]
on: [pull_request]
jobs:
  preview:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/quantecon/quantecon:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install lecture dependencies
        run: |
          conda env update -f environment.yml
          echo "=== Installed Packages ==="
          conda list
      - name: Download "build" folder (cache)
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: cache.yml
          branch: main
          name: build-cache
          path: _build
      
      # Build Assets (Download Notebooks and PDF via LaTeX)
      - name: Build PDF from LaTeX
        run: |
          jb build lectures --builder pdflatex --path-output ./ -n --keep-going
          mkdir -p _build/html/_pdf
          cp -u _build/latex/*.pdf _build/html/_pdf
      
      - name: Upload Execution Reports (LaTeX)
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: execution-reports
          path: _build/latex/reports
      
      - name: Build Download Notebooks (sphinx-tojupyter)
        run: |
          jb build lectures --path-output ./ --builder=custom --custom-builder=jupyter
          mkdir -p _build/html/_notebooks
          cp -u _build/jupyter/*.ipynb _build/html/_notebooks
      
      # Build HTML (Website)
      # BUG: rm .doctress to remove `sphinx` rendering issues for ipywidget mimetypes
      # and clear the sphinx cache for building final HTML documents.
      - name: Build HTML
        run: |
          rm -r _build/.doctrees
          jb build lectures --path-output ./ -nW --keep-going
      
      - name: Upload Execution Reports (HTML)
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: execution-reports
          path: _build/html/reports
      - name: Preview Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: '_build/html/'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Preview Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
