name: Publish to GitHub Pages
on:
  push:
    tags:
      - 'publish*'

permissions:
  contents: read
  pages: write
  id-token: write
  packages: read

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/quantecon/quantecon-build:latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build PDF
        uses: quantecon/actions/build-lectures@v0
        with:
          source-dir: 'lectures'
          builder: 'pdflatex'
          upload-failure-reports: true
      
      - name: Build Notebooks
        uses: quantecon/actions/build-lectures@v0
        with:
          source-dir: 'lectures'
          builder: 'jupyter'
          upload-failure-reports: true
      
      - name: Build HTML
        id: build
        uses: quantecon/actions/build-lectures@v0
        with:
          source-dir: 'lectures'
          builder: 'html'
          html-copy-pdf: true
          html-copy-notebooks: true
          upload-failure-reports: true
      
      - name: Deploy to GitHub Pages
        id: deploy
        uses: quantecon/actions/publish-gh-pages@v0
        with:
          build-dir: ${{ steps.build.outputs.build-path }}
